html, body {
    height: 100%;
    overflow: hidden;
}

.quote-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    & .main-quote {
        text-align: center;
        & .quote-text {
            font-size: 28px;
        }
        & .quote-next {
            margin-top: 20px;
            font-size: 20px;
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
    }
}

.create-quote {
    position: absolute;
    bottom: 50px;
    font-size: 18px;
    left: calc(50% - 30px);
}
